body{
    font-family: Arial;
    background: white;
    color: black;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

/* Dark Theme*/
.dark{
    background-color: black;
    color: white;
}